@import "tailwindcss";

.perspective {
  perspective: 1000px;
}

.flip-inner {
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
  transform-origin: center center; /* important */
}

.flip-inner.flipped {
  transform: rotateY(180deg);
}

.face {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Safari fix */
}

.back {
  transform: rotateY(180deg);
}